* {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
  font-family: "Montserrat";
}

body {
  margin: 0;
}

.btn {
  padding: 0.7rem 1rem;
  margin: 0.5rem 0;
  border: 1px solid transparent;
  border-radius: 0.6rem;
}
.btn.btn-danger {
  color: white;
  background-color: #e33f08;
  border-color: #c82b0c;
}
.btn.btn-ok {
  color: white;
  background-color: #068659;
  border: 1px solid #034a31;
}

input {
  font-size: 18px;
  padding: 0.6rem;
  font-weight: 400;
  margin: 1rem 0;
  border-radius: 0.6rem;
  border: 1px solid #adadad;
  box-sizing: border-box;
}

select {
  font-size: 18px;
  border: none;
  padding: 0.6rem;
}

option {
  padding: 0.6rem;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-container {
  height: 100vh;
  display: flex;
}
.login-container h2 {
  margin: 0;
}
.login-container .login,
.login-container .logeado {
  border: 1px solid #adadad;
  width: 500px;
  padding: 2rem;
  margin: auto auto;
  border-radius: 0.6rem;
  box-sizing: border-box;
  text-align: center;
}
.login-container .login input[type=text],
.login-container .login input[type=password] {
  font-size: 24px;
  width: 100%;
  border: 1px solid #adadad;
}

.d-none {
  display: none !important;
}

.books {
  width: min-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.books .book {
  margin: 0.3rem;
  display: inline-block;
  cursor: default;
}
.books .book .book-container {
  height: 22.5rem;
  width: 16rem;
  overflow: hidden;
  background-color: black;
  border-radius: 0.6rem;
  box-shadow: 2px 2px 5px #494949, 4px 4px 10px -5px #6b6b6b;
  text-align: center;
}
.books .book .book-container img {
  position: relative;
  width: 100%;
  top: -100%;
  z-index: 0;
}
.books .book .book-container .book-info {
  background-color: rgba(38, 38, 38, 0.6392156863);
  backdrop-filter: blur(5px);
  top: 17rem;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0.6rem;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-sizing: border-box;
  z-index: 1;
  font-weight: 200;
}
.books .book .book-container .book-info div.title {
  height: 5rem;
  display: flex;
}
.books .book .book-container .book-info div.title h1 {
  vertical-align: middle;
  color: white;
  margin: 0;
  margin: auto auto;
}
.books .book .book-container .book-info .description {
  color: white;
  padding: 0 1rem;
}
.books .book .detail {
  background-color: #474747;
  color: white;
  opacity: 0;
  z-index: 2;
  width: 0;
  position: absolute;
  padding: 0.5rem;
  margin-top: 2rem;
  font-size: 16px;
  box-shadow: 4px 4px 10px -5px #6b6b6b;
  border-radius: 0.6rem 0.6rem 0.6rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.books .book .detail h5 {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
}
.books .book .opt {
  margin: 1rem 0.2rem;
  display: flex;
  justify-content: space-between;
}
.books .book .opt p,
.books .book .opt button {
  margin: auto 0.5rem;
  vertical-align: middle;
}
.books .book .opt p.disponible {
  color: #068659;
}
.books .book .opt p.no-disponible {
  color: #adadad;
}
.books .book:hover .book-info {
  background-color: rgba(10, 10, 10, 0.759);
  top: 0;
}
.books .book:hover .detail {
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 15rem;
  z-index: 2;
  opacity: 1;
  margin-top: -1rem;
  margin-left: 15rem;
}

/*# sourceMappingURL=style.css.map */
